# Flutter/Dart/Pub related
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# Build output
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
android/.gradle/
android/app/build/

# IDE related files
.idea/
.vscode/
*.iml

# MacOS related files
.DS_Store

# Other ignored files
*.log
*.tgz
*.zip
*.tar
*.rar
*.swp
*.swo
